.page {
  display: block;
  margin: 8px 0;
  padding: 0 8px;
  border: 1px solid black;
  background-color: white;
 }
 
 .selectedPage {
     font-weight: bold;
     color:white;
     background-color: #0cf;
 }
 
 .pagination {
     max-width: 920px;
     height: 30x;
     margin: 8px;
     display: flex;
     overflow-y:auto ;
 }
